# Игнорировать папку .idea и все её содержимое (настройки проекта IntelliJ IDEA)
.idea/

# Игнорировать папку target и все её содержимое (компилированные классы, jar-файлы)
target/

# Игнорировать файлы с расширением .class
*.class

# Игнорировать файлы с расширением .log
*.log

# Игнорировать папку .gradle и все её содержимое (связано с Gradle)
.gradle/

# Игнорировать папку build и все её содержимое (связано с Gradle)
build/

# Игнорировать файлы с расширением .iml (настройки модуля IntelliJ IDEA)
*.iml

# Игнорировать файлы с расширением .ipr (настройки проекта IntelliJ IDEA)
*.ipr

# Игнорировать файлы с расширением .iws (настройки рабочего пространства IntelliJ IDEA)
*.iws

# Игнорировать файлы с расширением .log (лог-файлы)
*.log

# Игнорировать файлы с расширением .swp (временные файлы редактора Vim)
*.swp

# Игнорировать папку .vscode и все её содержимое (связано с Visual Studio Code)
.vscode/

# Игнорировать папку .settings и все её содержимое (связано с настройками проекта)
.settings/

# Игнорировать файл .classpath (путь к библиотекам Java)
.classpath

# Игнорировать файл .project (настройки проекта Eclipse)
.project

# Игнорировать файл .DS_Store (системные файлы macOS)
.DS_Store
